body,
html {
  word-wrap: break-word;
  scroll-behavior: smooth;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  outline: none;
}
a {
  text-decoration: none; /* no underline */
}
